body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

body.lock-scroll {
  overflow-y: scroll !important;
  position: fixed;
}

nav {
  padding: 20px 0px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

nav ul {
  padding: 0 1vw;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  font-weight: bold;
  margin: 0px 15px 0 0;
  transition: color 0.2s;
  font-size: 1.25rem;
}

nav ul li a:hover {
  color: mediumseagreen;
}

nav ul li a.active {
  color: mediumseagreen;
}

nav ul li.logout {}

nav ul li.logout a:hover {
  color: red;
}

nav ul li:not(.hamburger) {
  display: none;
}

nav ul li.hamburger {
  display: inline-block;
  margin-right: auto;
  margin-left: 20px;
}

nav ul li.hamburger button {
  transform: scale(1.70);
  background-color: transparent;
  color: white;
  border: none;
}

div.hamburger-menu {
  width: 320px;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -320px;
  overflow-y: scroll;
}

div.hamburger-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

div.hamburger-menu ul li {}

div.hamburger-menu ul li a {
  padding: 10px 5px;
  color: #c0c0c0;
  font-size: 120%;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
}

div.hamburger-menu ul li a:hover {
  color: white;
}

div.hamburger-menu ul li a i {
  display: flex;
  width: 20%;
}

div.hamburger-menu ul li a span {
  display: flex;
  width: 80%;
}



div.hamburger-menu ul li button.xclose {
  border: none;
  font-size: 150%;
  width: 30px;
  height: 30px;
  background-color: #c0c0c0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.hamburger-menu ul li button.xclose:hover {
  background-color: white;
}

div.hamburger-menu ul li.logout a:hover {
  color: red;
}



.login-panel {
  max-width: 400px;
  min-width: 300px;
}

.login-panel .username,
.login-panel .password,
.input {
  padding: 5px;
  border: 1px solid black;
  font-size: 120%;
}

.login-panel input:not([type='checkbox']),
.login-panel a {
  margin: 7px 0;
}

.login-panel button {
  background-color: mediumseagreen;
  margin: 7px 0;
}

.login-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("./componentes/imagenes/series-netflix.webp");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.favoritas {
  justify-content: space-around;
}

.titulo-apartado {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.favoritas>div {
  width: 25%;
  padding: 15px;
  max-width: 220px;
  position: relative;
  overflow: hidden;
}

.favoritas div div h5.stars {
  content: "+++++";
  padding: 5px;
  background-color: white;
  font-size: 120%;
  transform: skew(15deg);
  position: absolute;
  left: -1vw;
  transition: all 0.2s;
  opacity: 0;
  z-index: 1;
}

.favoritas div div:hover h5.stars {
  left: +2vw;
  opacity: 1;
}

.favoritas div div {
  overflow: hidden;
  position: relative;
}

.favoritas div div::before {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
}

.favoritas div div:hover::before {
  content: "";
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.favoritas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.favoritas div h5 {
  font-size: 1rem;
}

.contenido {
  padding-top: 130px;
}

.boton-ver {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.boton-comprar-4k {
  margin-left: 10px;
  background-color: dodgerblue;
  color: black;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.boton-comprar-4k:hover {
  color: black;
  outline: 2px solid black;
}

.boton-ver:hover {
  color: black;
  outline: 2px solid black;
}

.buscador {
  padding: 15px;
  width: 70%;
  font-size: 150%;
  margin: 0 1vw 1vw 1vw;
  position: absolute;
}

.register form {
  display: flex;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  flex-direction: column;
}

.register form label {
  font-weight: bold;
}

.register form input {
  border: 1px solid black;
  padding: 5px;
  font-size: 120%;
}

.register form>div {
  margin-bottom: 15px;
}



.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.admin-bg {
  background-color: #eeeeee;
}

.admin .login-panel button {
  background-color: black;
  color: white;
}



.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard .item {
  padding: 50px;
  margin: 10px;
  background-color: #eeeeee;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  font-size: 120%;
  font-weight: bold;
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.dashboard .item:hover {
  background-color: mediumseagreen;
}



.crear-pelicula form,
.editar-pelicula form,
.usuarios form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.editar-pelicula form {
  margin-bottom: 100px;
}

.crear-pelicula form .grupo,
.editar-pelicula form .grupo,
.gestionar-peliculas form .grupo,
.usuarios form .grupo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.crear-pelicula .image-preview,
.editar-pelicula form .image-preview {
  width: 100%;
  max-width: 200px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.crear-pelicula .image-preview img,
.editar-pelicula form .image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.crear-pelicula button,
.usuarios form button[type="submit"] {
  background-color: mediumseagreen;
  padding: 10px;
}

.editar-pelicula button[type="submit"] {
  background-color: gold;
  color: black;
  padding: 10px;
}

.crear-pelicula #image,
.editar-pelicula #image {
  width: 100%;
}

.crear-pelicula button.eliminar,
.editar-pelicula form button.eliminar {
  color: red;
  padding: 0;
  background-color: transparent;
  border: none;
}

.crear-pelicula button.eliminar:hover,
.editar-pelicula form button.eliminar:hover {
  cursor: pointer;
  text-decoration: underline;
}



.admin-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 200px;
}

.admin-nav a, .admin-nav button {
  margin: 5px 10px;
  text-decoration: none;
  padding: 5px;
  background-color: #c0c0c0;
  color: black;
  display: flex;
  align-items: center;
}

.admin-nav a i, .admin-nav button i {
  width: 20%;
}

.admin-nav a i::before,
.admin-nav button i::before {
  font-size: 120%;
  vertical-align: middle;
  display: table-cell;
}

.admin-nav button {
  background-color: #b80000;
  color: white;
  border: none;
}

.admin-nav a:hover {
  color: black;
}

.admin-nav .active {
  background-color: white;
  color: black;
}



.gestionar-peliculas .pre-table {
  overflow-x: scroll;
}

.gestionar-peliculas table img {
  max-width: 60px;
  width: 100%;
}

.gestionar-peliculas table td {
  vertical-align: middle;
}

.gestionar-peliculas form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.gestionar-peliculas form>div {
  flex-direction: column;
}

.gestionar-peliculas form select {
  min-width: 100px;
}

.gestionar-peliculas form input[type="checkbox"] {
  margin-right: 7px;
}

.gestionar-peliculas form .input:disabled {
  border: 1px solid #c0c0c0;
  background-color: #eeeeee;
}

.gestionar-peliculas form button[type="submit"] {
  padding: 15px 25px;
  background-color: #353535;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.gestionar-peliculas form button[type="submit"]:hover {
  background-color: black;
}

.gestionar-peliculas .load-more {
  background-color: #353535;
  color: white;
  padding: 30px 100px;
  margin: 0 auto;
  display: flex;
}

.gestionar-peliculas .load-more:hover {
  background-color: black;
}

.loading-icon {
  width: 50px;
  height: 50px;
  animation-name: loader;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-top: 3px solid #353535;
  border-left: 3px solid #353535;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}

@keyframes loader {
  100% {
    transform: rotate(360deg)
  }
}

.pb-100px {
  padding-bottom: 100px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal>div {
  padding: 20px;
  background-color: white;
}

.modal>div .xclose {
  font-size: 200%;
  border: none;
  padding: 0;
  margin-left: auto;
  display: flex;
  background-color: white;
}



@media (min-width: 650px) {
  .gestionar-peliculas form {
    max-width: none;
    margin: 0;
  }

  .gestionar-peliculas form>div {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 985px) {
  nav ul li:not(.hamburger) {
    display: inline-block;
  }

  nav ul li.hamburger {
    display: none;
  }
}

@media (max-width: 600px) {
  .favoritas>div {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .favoritas>div {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) {
  .favoritas div h5 {
    font-size: 1.25rem;
  }
}